/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #141414;
    color: white;
    display: flex; /* Ativa o Flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Garante que a altura do body ocupe 100% da altura da tela */
    margin: 0; /* Remove as margens padrão do body */
    text-align: center; /* Centraliza o texto dentro dos elementos */
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    padding: 20px 50px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

header .logo h1 {
    color: #e50914; /* Vermelho da Netflix */
    font-size: 36px;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav a:hover {
    color: #e50914; /* Muda para vermelho ao passar o mouse */
}

/* Banner Principal */
.banner {
    position: relative;
    margin-top: 120px; /* Dá espaço para o cabeçalho */
    margin-bottom: 50px;
}

.banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: white;
}

.banner-content h2 {
    font-size: 40px;
    font-weight: bold;
}

.banner-content p {
    font-size: 18px;
    margin: 10px 0;
}

.btn {
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
   
